.mainContainer {
  background-color: var(--navbar-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1;
  display: none;
}
@media screen and (min-width: 320px) {
  .mainContainer {
    height: 52px;
    flex-direction: row;
  }
  .spacer {
    display: block;
  }
}
