.container {
  background-color: rgba(36, 36, 36, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  background-color: wheat;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
