.myBtn {
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
  background-color: var(--secondary-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color);
  }
}




.myBtn:hover {
  background-color: #2c632f;
}

