.myBtn {
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  margin: 2px;
  text-align: center;
  max-width: 350px;
  background-color: var(--secondary-color);
  cursor: pointer;
  &:hover {
    background-color: var(--primary-color);
  }
}
